.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading span {
  animation: placeholder-dot 0.5s infinite both;
  animation-delay: 0.1s;
  margin-right: 5px;
  font-weight: bold;
  position: relative;
  top: -4px;
  font-size: 16px;
}

.loading span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes placeholder-dot {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

